/* Base styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
}

main {
    overflow: hidden;
}

input {
    width: 100%;
}

button,
input,
textarea,
select,
option {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

li {
    list-style: none;
}

span {
    font-family: inherit;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
}

.gray__wrapper {
    padding: 500px 0 80px;
    position: relative;
    margin-top: 700px;
    background: #292E34;
    border-radius: 25px;
}

@media(max-width: 1439px) {
    .gray__wrapper {
        padding: 300px 0 57px;
        margin-top: 658px;
    }
}

@media(max-width: 999px) {
    .gray__wrapper {
        margin-top: 563px;
    }
}

@media(max-width: 800px) {
    .gray__wrapper {
        padding: 270px 0 57px;
    }
}

@media(max-width: 767px) {
    .gray__wrapper {
        margin-top: 400px;
        padding: 250px 0 60px;
    }
}

@media(max-width: 479px) {
    .container {
        padding: 0 20px;
    }
}

/* COMMON STYLES */

.click-btn {
    border-radius: 4px;
    padding: 21.5px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 139.9%;
    transition: .4s all;
    width: fit-content;
}

.orange-btn {
    border: 2px solid #F66437;
    color: #FA6334;
}

.black-btn {
    border: 2px solid #000;
    color: #000;
}

.orange-btn:hover,
.orange-btn.active {
    background:  #F66437;
    color: #fff;
}

.page-link {
    color: rgb(104, 153, 216);
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    position: relative;
    padding-right: 12px;
    width: fit-content;
    display: block;
}

.page-link:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
    height: 11px;
    background: url(../img/chevron-right.png) center / contain no-repeat;
    transition: .3s all;
}

.page-link:hover::after {
    right: -6px;
}

/* PROMO SECTION */

.promo {
    padding-top: 100px;
    background: url(../img/promo/bg.png) center / cover no-repeat;
    position: relative;
}

.promo__wrapper {
    max-width: 1227px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.promo-title {
    color: rgb(255, 255, 255);
    font-size: 85px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 1%;
}

.promo-descr {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
}

.promo-btn {
    padding-right: 56.5px;
    padding-left: 56.5px;
    margin-top: 40px;
}

.promo-laptop {
    max-width: 100%;
    object-fit: contain;
    margin-top: 40px;
}

.promo-arrow {
    position: absolute;
    z-index: 5;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(104, 153, 216, .7);
    transition: .4s all;
    cursor: pointer;
}

.promo-arrow:hover {
    background: rgba(104, 153, 216, 1);
}

@media(max-width: 1439px) {
    .promo-title {
        font-size: 72px;
    }
    .promo-laptop {
        max-width: 90%;
    }
}

@media(max-width: 999px) {
    .promo {
        padding-top: 80px;
    }
    .promo-title {
        font-size: 52px;
    }
    .promo-descr {
        font-size: 20px;
    }
    .promo-laptop {
        margin-top: 50px;
    }
}

@media(max-width: 767px) {
    .promo-title {
        font-size: 48px;
    }
}

@media(max-width: 479px) {
    .promo-title {
        font-size: 36px;
    }
    .promo-btn {
        width: 100%;
        padding: 21.5px 0;
    }
    .promo-laptop {
        margin-top: 40px;
        max-width: 100%;
    }
}

/* PRODUCTS SECTION */

.products {
    margin-top: 160px;
}

.products__wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.product__card {
    padding: 30px;
    height: 601px;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: .5s all;
    box-shadow: 0px 8px 16px 0px rgba(50, 50, 71, 0.06),0px 0px 8px 0px rgba(50, 50, 71, 0.13);
}

.product__card:first-child {
    border-top: 8px solid rgb(104, 153, 216);
    background: linear-gradient(-42.99deg, rgba(255, 255, 255, 0.3) 3.287%,rgba(190, 208, 233, 0.3) 103.195%),rgb(255, 255, 255);
}

.product__card:first-child:hover {
    border-bottom: 1px solid rgb(104, 153, 216);
    border-left: 1px solid rgb(104, 153, 216);
    border-right: 1px solid rgb(104, 153, 216);
}

.product__card:nth-child(2) {
    border-top: 8px solid rgb(82, 178, 166);
    background: linear-gradient(148.47deg, rgba(101, 185, 176, 0.3) 8.584%,rgba(255, 255, 255, 0) 116.861%),rgb(255, 255, 255);
}

.product__card:nth-child(2):hover {
    border-bottom: 1px solid rgb(82, 178, 166);
    border-left: 1px solid rgb(82, 178, 166);
    border-right: 1px solid rgb(82, 178, 166);
}

.product__card:nth-child(3) {
    border-top: 8px solid rgb(250, 99, 52);
    background: linear-gradient(154.83deg, rgba(250, 99, 52, 0.2) 0.531%,rgba(255, 255, 255, 0) 89.874%),rgb(255, 255, 255);
}

.product__card:nth-child(3):hover {
    border-bottom: 1px solid rgb(250, 99, 52);
    border-left: 1px solid rgb(250, 99, 52);
    border-right: 1px solid rgb(250, 99, 52);
}

.product__card-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.product__card-main {
    margin-top: 52px;
}

.product__card-title {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 700;
}

.product__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.product__card li,
.product__card p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

.product__card .product__list-item {
    font-weight: 400;
    position: relative;
    padding-left: 15px;
}

.product__list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #000;
}

.products__card-btn {
    width: 100%;
    margin: auto 0 0 0;
}

@media(max-width: 1439px) {
    .products {
        margin-top: 120px;
    }
}

@media(max-width: 999px) {
    .products__wrapper {
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
    }
    .product__card {
        position: relative;
        height: auto;
        max-width: 100%;
    }
    .product__card-header,
    .product__card-main {
        max-width: 40%;
    }
    .products__card-btn {
        position: absolute;
        right: 33px;
        bottom: 30px;
        width: 45%;
    } 
}

@media(max-width: 767px) {
    .products {
        margin-top: 100px;
    }
    .products__wrapper {
        gap: 30px;
    }
    .product__card {
        height: 601px;
    }
    .product__card-header,
    .product__card-main {
        max-width: 100%;
    }
    .products__card-btn {
        width: 100%;
        position: static;
    } 
}

/* CMP SECTION */

.cmp {
    margin-top: 160px;
}

.cmp__wrapper {
    max-width: 1600px;
    padding: 80px 110px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.28);
    background: rgb(242, 243, 245);
}

.cmp-title {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 68px;
    font-weight: 600;
    line-height: 110%;
}

.cmp-img {
    width: 100%;
    object-fit: cover;
    margin-top: 50px;
}

.cmp-btn {
    display: block;
    margin: 30px 0 0 auto;
    box-sizing: border-box;
    border: 2px solid rgb(250, 99, 52);
    background: rgb(250, 99, 52);
    color: #fff;
    padding-right: 56.5px;
    padding-left: 56.5px;
}

.cmp-btn:hover {
    border: 2px solid #FF8A65;
    background: #FF8A65;
}

.cmp__list {
    margin-top: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.cmp__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cmp__item-title {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
}

.cmp__item-descr {
    color: rgb(79, 79, 79);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.cmp-link {
    margin: 20px 0 0 auto;
}

.cmp__item:first-child .cmp__item-descr,
.cmp__item:nth-child(3) .cmp__item-descr {
    max-width: 93.5%;
}

.cmp__item:nth-child(3) .cmp__item-title {
    max-width: 70%;
}

@media(max-width: 1600px) {
    .cmp__wrapper {
        padding: 80px 30px;
    }
}

@media(max-width: 1439px) {
    .cmp {
        margin-top: 120px;
    }
    .cmp-title {
        font-size: 48px;
    }
    .cmp__list {
        row-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 999px) {
    .cmp__wrapper {
        padding: 60px 30px;
    }
}

@media(max-width: 767px) {
    .cmp {
        margin-top: 100px;
    }
    .cmp-title {
        font-size: 36px;
    }
    .cmp-img {
        margin-top: 30px;
    }
    .cmp-btn,
    .cmp-link {
        margin: 30px auto 0 auto;
    }
    .cmp__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media(max-width: 479px) {
    .cmp__wrapper {
        padding: 60px 20px 100px 20px;
    }
    .cmp-btn {
        padding: 21.5px 0;
        width: 100%;
    }
    .cmp-link {
        text-align: center;
        width: 80%;
    }
    .cmp-link::after {
        top: 5px;
        transform: none;
    }
}

/* POSSIBLE SECTION */

.possible {
    margin-top: 160px;
    padding-left: 30px;
}

.possible__wrapper {
    margin: 0 0 0 auto;
    max-width: 1756px;
    border-radius: 25px 0 0 25px;
    background: rgb(45, 51, 57);
}

.possible__header {
    background-color: rgb(40, 45, 51);
    border-radius: 25px 0 0 0;
    padding: 80px 0 40px 106px;
}

.possible-title {
    color: rgb(255, 255, 255);
    font-size: 68px;
    font-weight: 600;
    line-height: 110%;
}

.possible__main {
    display: flex;
}

.possible__tabs {
    position: relative;
    z-index: 5;
    padding: 40px 0 67px 106px;
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.possible-tab {
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.possible-tab.active {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background: linear-gradient(135.00deg, rgb(51, 75, 98) 0%,rgb(40, 51, 62) 100%);
}

.possible__content {
    padding: 40px 0 67px 130px;
    width: 70%;
    background: linear-gradient(93.41deg, rgba(26, 30, 34, 0.39) 10.449%,rgba(0, 0, 0, 0) 87.202%);
}

.possible__main.desktop .possible__content-item {
    max-width: 70%;
    display: none;
}

.possible__main.desktop .possible__content-item.active {
    display: block;
}

.possible-item__text {
    color: rgb(189, 189, 189);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.possible-link {
    margin-top: 40px;
}

.possible__main.mobile {
    display: none;
}

@media(max-width: 1439px) {
    .possible {
        margin-top: 120px;
    }
    .possible-title {
        font-size: 60px;
    }
    .possible__tabs {
        width: 45%;
    }
    .possible-tab {
        align-items: flex-start;
        flex-direction: column;
    }
    .possible-tab br {
        display: none;
    }
    .possible__content {
        padding: 40px 30px 67px 60px;
    }
    .possible__content-item {
        max-width: 100%;
    }
    .possible__main.desktop .possible__content-item {
        max-width: 100%;
    }
}

@media(max-width: 999px) {
    .possible__main.mobile {
        display: block;
    }
    .possible__main.desktop {
        display: none;
    }
    .possible__tabs {
        gap: 0;
        padding: 0;
        width: 100%;
    }
    .possible-tab {
        align-items: center;
        flex-direction: row;
        max-width: 100%;
        width: calc(100% - 100px);
        margin: 0 50px;
    }
    .possible__main {
        padding: 40px 0 20px;
    }
    .possible__content {
        display: none;
    }
    .trigger-arrow {
        display: block;
        margin: 0 0 0 auto;
    }
    .possible__main.mobile .possible-item {
        margin-bottom: 12px;
        background:
        linear-gradient(93.41deg, rgba(26, 30, 34, 0.39) 10.449%,
        rgba(0, 0, 0, 0) 87.202%);
        height: 0;
        visibility: hidden;
        opacity: 0;
        padding: 0 50px;
        transition: .6s all;
    }
    .possible__main.mobile .possible-item.active {
        margin-top: 20px;
        padding: 40px 50px;
        opacity: 1;
        visibility: visible;
    }
    .possible__header {
        padding: 60px 50px 40px 50px;
    }
    .possible-title {
        font-size: 48px;
    }
}

@media(max-width: 767px) {
    .possible {
        margin-top: 100px;
    }
    .possible__header {
        padding: 60px 30px 20px 30px;
    }
    .possible-title {
        font-size: 40px;
    }
    .possible-tab {
        width: calc(100% - 60px);
        margin: 0 30px;
    }
    .possible__main.mobile .possible-item {
        padding: 0 30px;
    }
    .possible__main.mobile .possible-item br {
        display: none;
    }
    .possible__main.mobile .possible-item.active {
        padding: 40px 30px;
    }
    .possible-item__text {
        font-size: 16px;
    }
}

@media(max-width: 479px) {
    .possible {
        padding: 0;
    }
    .possible__header {
        padding: 60px 20px 20px 20px;
    }
    .possible-title {
        font-size: 28px;
    }
    .possible-tab {
        width: calc(100% - 40px);
        margin: 0 20px;
        padding: 10px 20px;
    }
    .possible__main.mobile .possible-item {
        padding: 0 20px;
    }
    .possible__main.mobile .possible-item.active {
        padding: 40px 20px;
    }
} 

/* PRESENTATION SECTION */

.presentation {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -540px;
}

.presentation__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.presentation-title {
    color: rgb(0, 0, 0);
    font-size: 68px;
    font-weight: 600;
    line-height: 110%;
}

.presentation-descr {
    margin-top: 17px;
    color: rgb(0, 0, 0);
    max-width: 1041px;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.presentation-preview {
    max-width: 100%;
    object-fit: contain;
    margin-top: 30px;
}

.presentation__link {
    display: block;
    margin: 30px auto 0 0;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 145%;
    text-align: left;
}

.presentation__link-yt {
    font-family: 'Segoe UI';
    font-size: 26.22px;
    font-weight: 600;
    line-height: 139.9%;
    color: rgb(250, 99, 52);
    position: relative;
    padding-right: 35px;
}

.presentation__link-yt::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 31px;
    height: 24px;
    background: url(../img/yt-logo.png) center / contain no-repeat;
}

@media(max-width: 1439px) {
    .presentation-title {
        font-size: 48px;
    }
}

@media(max-width: 999px) {
    .presentation {
        top: -440px;
    }
}

@media(max-width: 767px) {
    .presentation {
        top: -300px;
    }
    .presentation-title {
        font-size: 36px;
    }
    .presentation-descr {
        font-size: 16px;
    }
    .presentation__link {
        font-size: 16px;
    }
}

@media(max-width: 479px) {
    .presentation-title {
        font-size: 28px;
    }
    .presentation-descr {
        margin-top: 16px;
    }
    .presentation-preview {
        margin-top: 20px;
    }
    .presentation__link {
        width: 100%;
        margin: 0;
        margin-top: 12px;
    }
    .presentation__link-yt {
        display: block;
        margin: 0 0 0 auto;
        max-width: fit-content;
    }
}

/* BLOG */

.blog-title {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 600;
    line-height: 110%;
}

.blog-link {
    margin-top: 14px;
}

.blog__info {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 44px;
}

.blog__info-item {
    display: flex;
    gap: 17px;
}

.blog__info-item_img {
    height: fit-content;
}

.blog__info-item_title {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
}

@media(max-width: 1439px) {
    .blog-title {
        font-size: 36px;
    }
    .blog-link {
        margin-top: 22px;
    }
    .blog__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        row-gap: 30px;
    }
}

@media(max-width: 767px) {
    .blog-title {
        font-size: 28px;
    }
    .blog__info {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media(max-width: 479px) {
    .blog__info {
        max-width: 100%;
    }
}

/* BLOG SWIPER */

.blog-swiper {
    margin-left: 30px !important;
    margin-top: 40px;
}

.post-preview {
    width: 100%;
    object-fit: contain;
}

.post__info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__info-date {
    color: rgb(189, 189, 189);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.post__info-category {
    padding: 2px 10px;
    border-radius: 52px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 600;
    line-height: 19.5px;
}

.post-title {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
}

.post {
    width: 460px !important;
}

.post.gray .post__info-category {
    background: #6A758F;
}
.post.orange .post__info-category {
    background: #A14512;
}
.post.violet .post__info-category {
    background: #64557B;
}
.post.turquoise .post__info-category {
    background: #154F68;
}

.blog-swiper:hover .swiper__nav {
    opacity: 1;
    z-index: 2;
}

.swiper__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    opacity: 0;
    z-index: -1;
    transition: .4s all;
}

.swiper-btn {
    top: 50%;
    transform: translateY(-50%);
}

.swiper-btn:hover svg circle {
    transition: .4s all;
}

.swiper-btn:hover svg circle {
    fill: #4E719E;
}

.swiper-next {
    position: absolute;
    right: 5%;
}

.swiper-prev {
    position: absolute;
    left: 5%;
}


@media(max-width: 767px) {
    .post {
        width: 313px !important;
    }
    .post__info-date {
        font-size: 10px;
    }
    .post__info-category {
        padding: 1.5px 7px;
        font-size: 8px;
    }
    .post-title {
        font-size: 14px;
    }
}


@media(max-width: 479px) {
    .post {
        width: 255px !important;
    }
    .post__info-date {
        font-size: 8px;
    }
    .post__info-category {
        padding: 1.5px 5px;
        font-size: 6px;
    }
    .post-title {
        font-size: 11px;
    }
}

/* PRICE SECTION */

.price {
    margin-top: 160px;
}

.price-title {
    color: #FFF;
    font-size: 50px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 0.5px;
}

.table {
    margin-top: 40px;
}

.table-name {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

.table-descr {
    margin-top: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.table__wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 0;
    row-gap: 30px;
}

.table__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-btn {
    display: block;
    margin: 40px 0 0 auto;
    padding: 11px 49px;
    font-size: 16px;
}

.table__item-header {
    height: 51px;
    padding: 10px 0;
    color: #BDBDBD;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 125%;
    text-transform: lowercase;
    border-bottom: 1px solid rgba(255, 255, 255, .7);
    padding-right: 24px;
}

.table__item-body {
    display: block;
    margin-right: 24px;
    margin-top: 20px;
    border-radius: 54px;
    border: 0.833px solid #FFF;
    color: #FFF;
    font-size: 14px;
    font-weight: 800;
    line-height: 150%;
    height: 48px;
    transition: .4s all;
}

.table__item-body:hover,
.table__item-body:focus {
    border: 1px solid #F66437;
}

.price__info {
    border-top: 1px solid rgba(255, 255, 255, .7);
    padding-top: 20px;
    margin-top: 30px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 141%;
}

.price__info span {
    font-weight: 600;
}

.adaptive-btn {
    display: none;
}

@media(max-width: 1339px) {
    .price {
        margin-top: 120px;
    }
    .table__wrapper {
        grid-template-columns: repeat(7, 1fr);
    }
    .table__item:last-child {
        display: none;
    }
    .price-title {
        font-size: 36px;
    }
    .table__item-header {
        height: 65px;
        padding: 10px 0;
        padding-right: 20px;
    }
    
    .table__item-body {
        margin-right: 20px;
        height: 40px;
    }
    .adaptive-btn {
        display: block;
        margin: 20px 0 0 auto;
    }
}

@media (max-width: 999px) {
    .table__wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
    .table__item.empty {
        display: none;
    }
    .table__item-header {
        height: 50px;
    }
}

@media(max-width: 767px) {
    .price {
        margin-top: 100px;
    }
    .price-title {
        font-size: 28px;
    }
    .table-name {
        font-size: 20px;
    }
    .table__wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
    .table__item-header {
        padding: 0;
        padding-right: 20px;
    }
    .price__info {
        font-size: 12px;
    }
}

@media(max-width: 479px) {
    .table-descr {
        font-size: 16px;
    }
    .table__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .table__item-header {
        height: 40px;
    }
}

/* FAQ SECTION */

.faq {
    padding: 120px 0;
}

.faq__wrapper {
    display: flex;
    justify-content: space-between;
}

.faq-title {
    max-width: 35%;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

.faq__blocks {
    max-width: 822px;
}

.faq__block {
    border-bottom: 1px solid #C1C1C1;
}

.faq__block:first-child .faq-question {
    padding-top: 0;
}

.faq-question {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    padding: 20px 0;
    cursor: pointer;
    position: relative;
    padding-right: 30px;
}

.faq-question::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url(../img/faq/open.svg) center / contain no-repeat;
}

.faq__block.active .faq-question::after {
    background: url(../img/faq/close.svg) center / contain no-repeat;
}

.faq__block.flex .faq__answer {
    max-width: 95%;
}

.faq__answer {
    position: relative;
    display: flex;
    height: 0;
    gap: 38px;
    max-width: 85%;
    opacity: 0;
    z-index: -1;
    transition: .6s ease;
}

.faq__block.active .faq__answer {
    opacity: 1;
    z-index: 1;
    margin-bottom: 20px;
}

.faq__answer__block {
    max-width: 50%;
}

.faq__answer-text {
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.faq__answer-stap {
    color: #828282;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
}

.stap-3 {
    margin-top: 40px;
}

.faq__stores {
    margin-top: 20px;
    display: flex;
    gap: 14px;
}

@media(max-width: 1339px) {
    .faq {
        padding: 100px 0;
    }
    .faq__wrapper {
        flex-direction: column;
        gap: 24px;
    }
    .faq-title {
        max-width: 75%;
    }
    .faq__blocks {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .faq {
        padding: 80px 0;
    }
    .faq-title {
        max-width: 100%;
    }
    .faq__answer-text {
        font-size: 14px;
    }
    .faq__stores a img {
        max-width: 100%;
    }
}

@media(max-width: 479px) {
    .faq__answer-stap {
        font-size: 14px;
    }
    .faq__answer-text {
        font-size: 12px;
    }
}
